<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style-docs.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/jpg" href="/assets/filled-leaf-logo.png">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <title>mint | component library</title>
</head>
<body>

        <header>
            <div class="align">
                <div class="nav-logo">
                    <a href="/index.html"><img src="/assets/filled-leaf-logo.png" class="logo-nav"></a>
                    <a href="/index.html" class="link-style"><h2>mint</h2>
                 </a>
                 </div> 
                 <div class="nav-top hidden-sm">
                    <div class="nav-float-right"><a href = "/index.html" class="hover-effect">home</a></div>
                    <div class="nav-float-right"><a href = "/documentation.html" class="hover-effect">documentation</a></div>
                    <div class="nav-float-right"><a href = "https://github.com/sneha-pujari/Component-Library" class="hover-effect">github</a></div>
                </div>
    
            </div>
        </div>
        </header>  
            <nav>
                <h2>Getting started</h2>
                <ul>
                  <li><a class="link-style" href="/documentation.html">Introduction</a></li>
                </ul>
                <h2>Components</h2>
                <ul>
                    <li><a class="link-style" href="avatar.html">Avatar</a></li>
                    <li><a class="link-style" href="alerts.html">Alerts</a></li>
                    <li><a class="link-style" href="badges.html">Badges</a></li>
                    <li><a class="link-style" href="buttons.html">Buttons</a></li>
                    <li><a class="link-style" href="cards.html">Cards</a></li>
                    <li><a class="link-style" href="images.html">Images</a></li>
                    <li><a class="link-style" href="input.html">Input</a></li>
                    <li><a class="link-style" href="list.html">List</a></li>
                    <li><a class="link-style" href="typography.html">Typography</a></li>
                </ul>
              </nav>
              <main>
                <h2 style="font-size:35px">Avatar</h2>
                <section class="container">
                    <p>The Avatar component is used to represent a user, and displays the profile picture, initials or fallback icon.</p>
                    <div class="darkbg">
                    <img class = "avatar-small" src = "https://bit.ly/2Om0Udn" alt = "avatar-small"></img>
                    <img class = "avatar-mid" src = "https://bit.ly/2Om0Udn" alt = "avatar-small"></img>
                    <img class = "avatar-large" src = "https://bit.ly/2Om0Udn" alt = "avatar-small"></img>
                    <img class = "avatar-xlarge" src = "https://bit.ly/2Om0Udn" alt = "avatar-small"></img>
                </div>
            <div class="code-display">
                < img class = "avatar-small" src = "https://bit.ly/2Om0Udn" alt = "avatar-small"></img> <br/>
                < img class = "avatar-mid" src = "https://bit.ly/2Om0Udn" alt = "avatar-small"></img> <br/>
                < img class = "avatar-large" src = "https://bit.ly/2Om0Udn" alt = "avatar-small"></img> <br/>
                < img class = "avatar-xlarge" src = "https://bit.ly/2Om0Udn" alt = "avatar-small"></img>   <br/>    
            </div>

                <!-- <pre>
                <code>
                   < img class = "avatar-small" src = "https://bit.ly/2Om0Udn" alt = "avatar-small"></img> 
                    < img class = "avatar-mid" src = "https://bit.ly/2Om0Udn" alt = "avatar-small"></img>
                    < img class = "avatar-large" src = "https://bit.ly/2Om0Udn" alt = "avatar-small"></img>
                    < img class = "avatar-xlarge" src = "https://bit.ly/2Om0Udn" alt = "avatar-small"></img>   
                </code>
            </pre> -->
                </section>
              </main>
        </body>
</html>